.talent-details {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 8px;
}

.title-talent-details {
  font-weight: 500;
  font-size: 16px;
  margin-bottom: 8px;
}

.section-who,.section-how,.section-accomplishments{
  margin: 12px 0;
}
