
section#sidebar{
    height: 100vh;
    width: 70vw;
    max-width: 500px;
    background-color: #fbfbfb;
    border-radius: 25px 0 0 25px;
    position: absolute;
    right: 0;
    top: 0;
    box-shadow: -2px 0 12px rgba(0,0,0,0.5);
}


section#sidebar h3{
    font-weight: 500;
    font-size: 1.15em;
    margin-top: 0;
    padding: 50px 0 0 25px;
}

section#sidebar div{
    display: block;
    margin: 0 auto;
    width: 85%;
}
section#sidebar div:hover{
    cursor: pointer;
}
section#sidebar div::after{
    content: '';
    display: block;
    width: 100%;
    margin-top: -10px;
    margin-bottom: 10px;
    
    border: 1px solid #e7e7e7;
    border-radius: 1px;
}

section#sidebar div.listAula span{
    display: inline-block;
    font-size: 1.5em;
    padding-bottom: 20px;
    color: #0C97AA;
    vertical-align: middle;
}

section#sidebar p{
    font-size: 1em;
    padding-left: 10px;
    display: inline-block;
}

section#sidebar div.listQuiz span{
    display: inline-block;
    font-size: 1.5em;
    padding-bottom: 10px;
    color: #0C97AA;
    vertical-align: middle;
}