.footer{
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background-color: #045171;
    bottom: 0;
}

.footer div{
    max-width: 768px;
    display: flex;
    justify-content: flex-end;

    box-sizing: border-box;
    padding-right: 60px;
    bottom: 0;
}

.footer img{
    height: 3rem;
}